include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include textdirectory/data/testdata/*.txt
include textdirectory/data/testdata/level_2/*.txt
include textdirectory/data/stopwords/*.txt
include textdirectory/data/language_models/*.lm

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
