spacy==2.2.3
requests==2.22.0
numpy==1.18.1
click==7.0
beautifulsoup4==4.8.2
psutil>=5.6.7

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz