pip>=22.2.2
bumpversion>=0.6.0
wheel>=0.33.6
watchdog>=2.1.9
flake8>=5.0.4
tox>=3.26.0
coverage>=6.4.4
Sphinx>=5.2.0
twine>=4.0.1
pytest>=7.1.3
pytest-runner>=6.0.0
psutil>=5.9.2
isort>=5.10.1

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl